{% load static %}
<div class="menu">
    <ul class="list">
        <li class="header">GASTOS DA FUB</li>
        <li class="active">
            <a href="{% url 'home' %}">
                <i class="material-icons">home</i>
                <span>Por Natureza</span>
            </a>
        </li>
        <li>
            <a href="{% url 'expanse' %}">
                <i class="material-icons">layers</i>
                <span>Por mês</span>
            </a>
        </li>
        <li>
            <a href="{% url 'resource_source' %}">
                <i class="material-icons">widgets</i>
                <span>Por fontes de recurso</span>
            </a>
        </li>
        <li>
            <a href="{% url 'indicators' %}">
                <i class="material-icons">widgets</i>
                <span>Indicadores</span>
            </a>
        </li>
        <li>
            <a href="{% url 'creditors' %}">
                <i class="material-icons">widgets</i>
                <span>Credores</span>
            </a>
        </li>
</div>
