{% extends "landing/template.html" %} {% block content %}
<!-- <div class="block-header">
    <h2>DASHBOARD</h2>
</div> -->

<!-- CPU Usage -->
<div class="row clearfix">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            {% include "detailed_nature.html" %}
        </div>
    </div>
</div>
<!-- #END# CPU Usage -->
<div class="row clearfix">
    <!-- Visitors -->
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card">
            <div class="body bg-pink">
                <div class="sparkline" data-type="line" data-spot-Radius="4" data-highlight-Spot-Color="rgb(233, 30, 99)" data-highlight-Line-Color="#fff"
                        data-min-Spot-Color="rgb(255,255,255)" data-max-Spot-Color="rgb(255,255,255)" data-spot-Color="rgb(255,255,255)"
                        data-offset="90" data-width="100%" data-height="92px" data-line-Width="2" data-line-Color="rgba(255,255,255,0.7)"
                        data-fill-Color="rgba(0, 188, 212, 0)">
                    <h5>O que é Natureza detalhada?</h5>
                </div>
                <ul class="dashboard-stat-list" style="text-align: justify">
                        <small>É a classificação da receita por natureza utilizada por todos os entes da Federação e visa identificar a origem do recurso segundo o fato gerador: acontecimento real que ocasionou o ingresso da receita nos cofres públicos. </small>
                    <!-- <li>
                        TODAY
                        <span class="pull-right"><b>1 200</b> <small>USERS</small></span>
                    </li>
                    <li>
                        YESTERDAY
                        <span class="pull-right"><b>3 872</b> <small>USERS</small></span>
                    </li>
                    <li>
                        LAST WEEK
                        <span class="pull-right"><b>26 582</b> <small>USERS</small></span>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
    <!-- #END# Visitors -->
</div>

{% endblock %}